@import 'styles/colors.scss';

.TimeTable {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  text-align: left;
  background-color: $white-color;

  position: absolute;
  top: 100px;
  left: 100px;
  
  width: 400px;
  height: 600px;
}

.TimeTable-header {
  /*
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  */
}

.TimeTable-label {
  color: #61dafb;
}
