@import 'styles/colors.scss';

.TimeTable {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  text-align: left;
  background-color: $white-color;
  border: 1px solid $grey-2-color;
  border-radius: 10px;
  box-shadow: 0 0 5px $grey-2-color;
  padding: 2em;
  box-sizing: border-box;
  min-width: 340px;
  max-width: 800px;
  //min-height: 290px;

  // For DEV purpose only
  position: absolute;
  top: 50px;
  left: 50px;
}

.TimeTable-header {
  border-bottom: 2px solid $black-color;
  margin: 0 0 .5em;
  padding-bottom: .5em;
  color: $black-color;
  font-size: 24px;
  line-height: 30px;
  /*
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  */
  .TimeTable-icon {
    margin-right: .5em;
  }
}

.TimeTable-icon {
  vertical-align: sub;
  color: $grey-3-color;
}

.TimeTable-label {
  color: $green-color;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  margin-left: 1em;
}

.TimeTable-weekday {
  min-height: 2.5em;
  font-size: 16px;
  line-height: 2.5em;
  border-bottom: 2px solid $grey-2-color;
  
  &-name {
    display: inline-block;
    width: 10rem;
    font-weight: bold;
    vertical-align: top;
  }
  &-workingHours {
    display: inline-block;
    width: calc(100% - 10rem);
    text-align: right;
    line-height: 1em;

    &--none {
      color: $grey-3-color;
    }
  }
}

.TimeTable-timeSlot {
  span {
    white-space: nowrap;
  }
  &::after {
    content: ', ';
  }
  &:last-child::after {
    content: '';
  }
}

// Small screen rules
@media only screen and (max-width: 600px) {
  .TimeTable {
    padding: 1em;
    padding-bottom: 1.5em;
    min-width: 300px;
  }

  .TimeTable-header {
    font-size: 18px;
    line-height: 16px;

    .TimeTable-icon {
      width: .8em;
      height: .8em;
      margin-right: .2em;
    }
  }

  .TimeTable-label {
    margin-left: .5em;
  }

  .TimeTable-weekday {
    font-size: 14px;
  }
}